<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create PacketStatus</title>
</head>
<body>
<h2>Create a PacketStatus</h2>

<!-- Form to create a PacketStatus -->
<form action="#" th:action="@{/PacketStatus}" th:object="${PacketStatus}" method="post">

    <!-- Field for PacketStatus name -->
    <label for="name">PacketStatus name:</label><br>
    <input type="text" id="name" name="name" required placeholder="Enter name PacketStatus"><br><br>

    <!-- Field for PacketStatus description -->
    <label for="description">PacketStatus description:</label><br>
    <input type="text" id="description" name="description" required placeholder="Enter PacketStatus description"><br><br>

    <!-- Button to submit the form -->
    <input type="submit" value="Create PacketStatus">
</form>

</body>
</html>
