<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Geolocation</title>
</head>
<body>
<h2>Create a Geolocation</h2>

<!-- Form to create a Geolocation -->
<form action="#" th:action="@{/Geolocation}" th:object="${Geolocation}" method="post">

    <!-- Field for geolocation latitude -->
    <label for="latitude">Geolocation Latitude:</label><br>
    <input type="number" id="latitude" name="latitude" required placeholder="Enter geolocation latitude" step="0.01" min="0"><br><br>

    <!-- Field for geolocation longitude -->
    <label for="longitude">Geolocation Longitude:</label><br>
    <input type="number" id="longitude" name="longitude" required placeholder="Enter geolocation longitude" step="0.01" min="0"><br><br>

    <!-- Field for geolocation description -->
    <label for="description">Geolocation description:</label><br>
    <input type="text" id="description" name="description" required placeholder="Enter geolocation description"><br><br>


    <!-- Button to submit the form -->
    <input type="submit" value="Create Geolocation">
</form>

</body>
</html>
