<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
<h2>Create a User</h2>

<!-- Form to create a user-->
<form action="/users" method="post">
    <!-- Field for user name -->
    <label for="name">User Name:</label><br>
    <input type="text" id="name" name="name" required placeholder="Enter name"><br><br>

    <!-- Field for user email -->
    <label for="email">User Email:</label><br>
    <input type="email" id="email" name="email" required placeholder="Enter email"><br><br>

    <!-- Button to submit the form -->
    <input type="submit" value="Create">
</form>

</body>
</html>
