<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Role</title>
</head>
<body>
<h2>Create a Role</h2>

<!-- Form to create a Role -->
<form action="#" th:action="@{/Role}" th:object="${Role}" method="post">

    <!-- Field for Role name -->
    <label for="name">Role name:</label><br>
    <input type="text" id="name" name="name" required placeholder="Enter name Role"><br><br>

    <!-- Field for Role description -->
    <label for="description">Role description:</label><br>
    <input type="text" id="description" name="description" required placeholder="Enter Role description"><br><br>

    <!-- Button to submit the form -->
    <input type="submit" value="Create Role">
</form>

</body>
</html>
