<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
<h2>Create a User</h2>

        <!-- Form to create a users-->
        <form action="#" th:action="@{/packet}" th:object="${packet}" method="post">

        <!-- Field for username -->
        <label for="name">User Name:</label><br>
        <input type="text" id="name" name="name" required placeholder="Enter name"><br><br>

        <!-- Field for users email -->
        <label for="email">User Email:</label><br>
        <input type="email" id="email" name="email" required placeholder="Enter email"><br><br>

        <!-- Field for users address_user -->
        <label for="address_user">User address_user:</label><br>
        <input type="text" id="address_user" name="address_user" required placeholder="Enter address_user"><br><br>

            <!-- Field for users PhoneNumber -->
            <label for="PhoneNumber">User PhoneNumber:</label><br>
            <input type="text" id="PhoneNumber" name="PhoneNumber" required placeholder="Enter PhoneNumber"><br><br>

            <!-- Button to submit the form -->
        <input type="submit" value="Create User">
</form>

</body>
</html>
