<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Geolocation</title>
</head>
<body>
<h2>List of Geolocation</h2>


<!-- Table to display the list of geolocations -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="geolocation : ${geolocations}">
        <td th:text="${geolocation.id}"></td>
        <td th:text="${geolocation.latitude}"></td>
        <td th:text="${geolocation.longitude}"></td>
        <td th:text="${geolocation.description}"></td>
    </tr>
    </tbody>
</table>

<!-- Link to create a new geolocation -->
<p><a href="/geolocation/create">Create a New Geolocation</a></p>

</body>
</html>
